* {
  box-sizing: border-box;
}
.aboutPage {
  width: 100%;
  font-family: Montserrat;
  margin-bottom: 50px;
  //banner
  &__banner {
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 30px;
    &-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-content {
      width: 1200px;
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-title {
      font-size: 40px;
      color: #5eb600;
      margin-bottom: 40px;
    }

    &-desc {
      font-size: 34px;
      margin-bottom: 40px;
    }
    &-btn {
      width: 260px;
      height: 60px;
      button {
        font-size: 24px;
      }
    }
  }

  //About
  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    &-wrap {
      width: 1200px;
    }

    &-title {
      color: #5eb600;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      margin-bottom: 50px;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-img {
      width: 48%;
      height: 360px;
      margin-left: 36px;
      margin-right: 100px;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
    &-text {
      flex: 1;
      color: #1b1a1a;
      font-family: Montserrat;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px; /* 156.25% */
    }
  }
  //End About

  //Desc

  &__desc {
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrap {
      width: 1200px;
    }
    &-title {
      color: #5eb600;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 50px;
      text-align: center;
    }

    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      width: 360px;
      height: 438px;
      border-radius: 25px;
      overflow: hidden;
    }

    &-right {
      width: 680px;
      height: 450px;
      border-radius: 50px 0 0 50px;
      position: relative;
      padding: 100px 50px 100px 180px;
      background: #427a06;
      &-img {
        width: 248px;
        height: 252px;
        position: absolute;
        top: calc(50% - 126px);
        left: -124px;
        overflow: hidden;
        border-radius: 25px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-text {
        color: #fff;
        .text {
          display: flex;
          align-items: center;
          span {
            margin-right: 20px;
            font-weight: 700;
            font-size: 36px;
          }
          div {
            font-size: 20px;
            line-height: 30px;
          }
        }
        .text-mid {
          text-align: center;
          margin: 38px 0;
          font-size: 36px;
        }
      }
    }
  }
  //End Desc
}

// Button

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  color: #fff;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5eb600;

    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;

    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #5eb600;
    &:before {
      width: 100%;
    }
  }
}

i {
  margin-left: 10px;
  font-size: 30px;
}
// End Button

