* {
    margin: 0 0;
}

.pay {
    background: #F9F9F9;
    padding-top: 30px;

    &-d1 {
        margin: 0px 120px 0px 120px;
        display: flex;
        width: 1200px;
        padding: 15px 996px 17px 60px;
        align-items: center;
        background: #FFF;
        color: #5EB600;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-d2 {
        width: 1200px;
        height: 160px;
        background-color: #FFF;
        margin: 20px 120px 0px 120px;
        display: flex;
        flex-direction: column;

        &-row1 {
            display: flex;
            color: #5EB600;
            margin: 20px 0px 0px 60px;
            height: 30px;
            align-items: center;

            &-icon {
                // i {
                //     padding: 0px 0px 0px 0px;
                //     margin: 0px 0px 0px 0px;

                // }
                &-loca{
                    height: 2em;
                    width: 2em;
                }
            }

            &-content {
                margin: 0px 0px 0px 8px;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }

        &-row2 {
            display: flex;

            &-column1 {
                width: 170px;
                margin: 20px 0px 0px 60px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }

            &-column2 {
                margin: 20px 0px 0px 60px;
                width: 610px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }

            &-column3 {
                display: flex;
                align-items: center;
                justify-content: center;

                :hover {
                    background-color: #427A06;
                    color: #FFF;
                }

                button {
                    margin: 20px 0px 0px 100px;
                    display: flex;
                    width: 110px;
                    height: 40px;
                    padding: 10px 0px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid #427A06;
                    background-color: #FFF;
                    color: #427A06;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    :hover {
                        background-color: #427A06;
                        color: #FFF;
                    }
                }


            }
        }
    }

    &-d3 {
        width: 1200px;

        background: #FFF;
        margin: 20px 120px 0px 120px;
        padding: 20px 0px 0px 0px;

        &-row1 {
            display: flex;


            &-column1 {
                margin: 0px 0px 0px 80px;
                color: #5EB600;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
            }

            &-column2 {
                margin: 0px 0px 0px 447px;
                color: #5EB600;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
            }

            &-column3 {
                margin: 0px 0px 0px 106px;
                color: #5EB600;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
            }

            &-column4 {
                margin: 0px 0px 0px 182px;
                color: #5EB600;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
            }
        }

        &-row2 {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 20px 0px;

            &-wrap {
                display: flex;
                margin: 20px 0px 0px 61px;

                &-column1 {
                    width: 120px;
                    height: 120px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-column2 {
                    margin: 40px 0px 40px 20px;
                    width: 300px;
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }

                &-column3 {
                    margin: 40px 0px 40px 140px;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }

                &-column4 {
                    margin: 40px 0px 40px 120px;
                    text-align: center;
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    width: 100px;
                }

                &-column5 {
                    margin: 40px 0px 40px 160px;
                    text-align: center;
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    width: 100px;
                }

            }
        }
    }

    &-d4 {
        width: 1200px;
        height: 388px;
        background: #FFF;
        margin: 20px 120px 0px 120px;


        &-row1 {
            display: flex;

            &-column1 {
                width: 163px;
                margin: 42px 0px 0px 60px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            &-column2 {
                margin: 21px 0px 0px 77px;
                border-radius: 10px;
                border: 1px solid #427A06;
                display: flex;
                width: 328px;
                height: 62px;
                padding: 10px 20px;
                justify-content: space-between;
                align-items: center;

                &-p1 {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }

                &-p2 {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    color: #427A06;
                    width: 288px;
                    // font-family: Montserrat;
                    // font-size: 16px;
                    // font-style: normal;
                    // font-weight: 400;
                    // line-height: 20px;
                }
            }

            &-column3 {
                margin: 21px 0px 0px 152px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            &-column4 {
                margin: 21px 0px 0px 146px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }

        &-row2 {
            display: flex;

            &-column1 {
                margin: 82px 0px 0px 60px;
                width: 206px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            &-column2 {
                border-radius: 10px;
                border: 1px solid #427A06;
                margin: 70px 0px 0px 34px;
                display: flex;
                width: 260px;
                height: 40px;
                padding: 10px 20px;
                justify-content: space-between;
                align-items: center;

                p {
                    color: #000;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                a {
                    color: #427A06;
                }
            }
        }

        &-row3 {
            display: flex;

            &-column1 {
                margin: 80px 0px 0px 60px;
                width: 80px;
                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }

            &-column2 {
                margin: 60px 0px 0px 157px;

                textarea {
                    display: flex;
                    width: 440px;
                    height: 120px;
                    padding: 10px 20px;
                    align-items: flex-start;
                    border-radius: 10px;
                    border: 1px solid #717171;

                    ::placeholder {
                        color: #717171;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


            }
        }
    }

    &-d5 {
        display: flex;
        height: 361px;
        padding: 30px 120px 30px 920px;
        background: #FFF;
        box-shadow: -5px -5px 30px 1px rgba(0, 0, 0, 0.25);
        flex-direction: column;
        margin: 40px 0px 0px 0px;

        &-row1 {
            margin: 20px 0px 0px 0px;
            color: #427A06;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        &-row2 {
            display: flex;
            margin: 20px 0px 0px 0px;
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            &-column1 {
                width: 180px;
            }

            &-column2 {
                margin: 0px 0px 0px 60px;
            }
        }

        &-row3 {
            display: flex;
            margin: 20px 0px 0px 0px;
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            &-column1 {
                width: 180px;
            }

            &-column2 {
                margin: 0px 0px 0px 60px;
            }
        }

        &-row4 {
            display: flex;
            margin: 20px 0px 0px 0px;
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            &-column1 {
                width: 180px;
            }

            &-column2 {
                margin: 0px 0px 0px 60px;
            }
        }

        &-row5 {
            margin: 40px 0px 0px 0px;

            button {

                display: flex;
                width: 200px;
                height: 55px;
                padding: 10px 29px;
                justify-content: center;
                align-items: center;
                border: 1px solid #427A06;
                background: #5EB600;
                color: #FFF;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-radius: 10px;
            }
        }
    }
}